.header {
  text-align: center;
}

@font-face {
  font-family: Transformers;
  src: url(../assets/fonts/TransformersMovie-y9Ad.ttf);
}

@font-face {
  font-family: Optimus;
  src: url(../assets/fonts/Optimus-73lD.ttf);
}

h1 {
  font-family: Transformers;
  font-size: 8rem;
}
